{% extends 'uad/_admin_base.html' %}

{% block title %}VPN主动侦控系统{% endblock %}

{% block body_header %}
    <div id="header">
        <h1 style="line-height:21px;"><span style="color:white; font-size:21px; font-weight:normal;">VPN主动侦控系统</h1>		
    </div>
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav btn-group">
            <li class="btn btn-inverse"><a title="" href="/logout/"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
        </ul>
    </div>
{% endblock %}

{% block body_sidebar %}
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> 首页</a>
        <ul>
            <li><a id="sidebar-header" href="#"><i class="icon icon-home"></i> <span>首页</span></a></li>
            <li class="submenu" id="submenu-news">
                <a href="#"><i class="icon icon-th-list"></i><span>VPN生成器</span></a>
                <ul>
                    <li><a href="/home/">VPN生成器</a></li>
                </ul>            
               </ul>
            </li>       
        </ul>
    </div>
{% endblock %}