{% extends '_base.html' %}

{% block head_style %}
<style>
    form input {
        box-sizing:border-box;
        height:30px !important;
        width:100%;
    }
</style>
{% endblock %}

{% block container_fluid %}
    <div class="row-fluid">
        <div class="span12">
        <a href="#" id="myModal">添加VPN生成器</a>
            <div class="widget-box">
                <div class="widget-title">							
                    <h5>VPN生成器</h5>
                </div>                                            
                <div class="widget-content nopadding">
                
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>VPN服务器IP地址</th>
                        <th>VPN用户名</th>
                        <th>VPN密码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    </tbody>
                    {% for vpn in vpns %}
                    <tr>
                        <td>{{vpn.vpnname}}</td>
                        <td>{{vpn.host}}</td>
                        <td>{{vpn.user}}</td>
                        <td>{{vpn.password}}</td>
                        <td>
                            <button class="btn btn-danger">删除<span class="hide">{{vpn.id}}</span></button>
                            <button class="btn btn-inverse">VBS下载<span class="hide">{{vpn.id}}:vbs</span></button>
                            <button class="btn btn-inverse">EXE下载<span class="hide">{{vpn.id}}:exe</span></button>
                            <button class="btn btn-inverse">下载登陆器<span class="hide">{{vpn.id}}:hta</span></button>
                            <a class="btn btn-inverse" href="{{vpn.vpnsystemurl}}">进入VPN情报系统</a>
                        </td>   
                    </tr>
                    {% endfor%}
                    </tbody>
                </table>
                <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
                    <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate">
                        <a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default" id="DataTables_Table_0_first">首页</a>
                        <a tabindex="0" class="previous fg-button ui-button ui-state-default" id="DataTables_Table_0_previous">上一页</a>
                        <span></span>
                        <a tabindex="0" class="next fg-button ui-button ui-state-default" id="DataTables_Table_0_next">下一页</a>
                        <a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" id="DataTables_Table_0_last">尾页</a>
                    </div>
                </div>                
                </div>
                
                <div class="bootbox modal fade in" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="bootbox-close-button close">×</button>
                                <h4 class="modal-title">添加VPN生成器</h4></div>
                            <div class="modal-body">
                                <div class="bootbox-body" style="display:table; width:100%;"> 
                                    <form action="/newvpn/" method="get" onSubmit="return checkinfo();">   
                                      <div class="tabbable">
                                         <input name='vname' type='text' placeholder='定制工具名称'>
                                         <input name='vdes' type='text' placeholder='定制工具说明'>
                                         <input name='vip' type='text' placeholder='VPN服务器地址'>
                                         <input name='vuser' type='text' placeholder='VPN用户名'>
                                         <input name='vpass' type='text' placeholder='VPN密码'>
                                         <input name='vprocess' type='text' placeholder='进程过滤（只能填写数字、字母、下划线、点号、逗号）'>
                                         <input name='vvt' type='text' placeholder='备注名称'>
                                         <input name='vurl' type='text' placeholder='VPN情报系统地址，默认无需填写'>
                                         <input class="btn btn-primary" type="submit" value='生成'>                                        
                                      </div>
                                    </form>                                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop fade in" style="display: none;"></div>
                <iframe src="#" scrolling="no" frameborder="0" style="width:1px; height:1px; display:none;"></iframe>
                
                </div>                						
            </div>
        </div>
    </div> 
{% endblock %}


{% block foot_js %}
    <script src="/uad/uniadmin/js/unicorn.xxgcpagination.js"></script>
    <script type="text/javascript">

        //蒙皮
        function show_bootbox() {
            $(".bootbox.fade").show();
            $(".modal-backdrop.fade").show();
        }
        
        function hide_bootbox() {
            $("#btn-primary").off("click");
            $(".bootbox.fade").hide();
            $(".modal-backdrop.fade").hide();
        }
        
        // 取消
        $("#btn-default").on("click", function () {
            hide_bootbox()
        });
        
        $(".close").on("click", function () {
           hide_bootbox()
        });
            
        //VPN服务器地址,VPN用户名必须填写
        function checkinfo(){
            if($("[name=vip]").val().trim()==""){
                $("[name=vip]").focus();
                return false;
            }
            if ($("[name=vuser]").val().trim()==""){
                $("[name=vuser]").focus();
                return false;
            }
            return true;
        }
        
        $(function(){
            xxgcpage.init({{ countpage }}, {{ page }}, 10);
            
            $("[name=vprocess]").on("blur", function(){
                $(this).val($(this).val().replace(/[^0-9a-zA-Z.,_]/g, ""));
            });
            
            $("#myModal").on("click",function(){
                show_bootbox();
            });
            
            $("tbody button.btn-danger").on("click", function(){
                var id = $("span", this).text().trim();
                window.bootbox.confirm("你确定要删除该记录吗", function(TF){
                    if(TF){
                        $.get("/delete/", {id: id}, function(data){
                            if(data === "success"){
                                window.location.reload();
                            }else{
                                window.bootbox.alert("记录删除失败！");
                            }
                        }, "html");                        
                    }
                });
            });
            
            $("tbody button.btn-inverse").on("click", function(){
                var id_type = $("span", this).text().trim().split(":");
                $("iframe").attr("src", "/down/?id="+id_type[0]+"&type="+id_type[1]);
                return;
            });
        });
        
    </script>
{% endblock %}

{% block nav_location %}
    <script type="text/javascript">
        $("#submenu-news").addClass("open active");
        $("#submenu-news li:eq(0)").addClass("active");        
    </script>
{% endblock %}


